body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-btn {
    color: white;
    text-decoration: none;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    margin: 10rem auto;
}

.container h2 {
    margin-bottom: 2rem;
}

.form-control{
    margin-bottom: 2rem;
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bold;
}

.weather-container{
    margin-top: 15px;
}

.weather-container h3{
    font-size: 16px;
    font-weight: bold;
}

.login-container {
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    margin: 15rem auto;
}

.login-container h2 {
    margin-bottom: 10px;
    font-size: 26px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #db4437;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}